<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>jeDate时分秒</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/newrili1/test/jeDate-test.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/newrili1/skin/jedate.css">
    <script type="text/javascript" src="__PUBLIC__/newrili1/src/jedate.js"></script>
</head>
<body>
<div class="jewarp">
    <div class="content">
        <div class="jeitem">
            <label class="jelabel">时分秒范围选择11</label>
            <div class="jeinpbox"><input type="text" class="jeinput" id="test11B" placeholder="hh:mm:ss"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/newrili1/test/demo.js"></script>
</body>
</html>