/.idea
/.svn
/src_sign
/publish
/simulator
/publish.zip
*.udf
*.cfg
*.suo
*.sdf
*.opensdf

/frameworks/runtime-src/proj.android-studio/.idea
/frameworks/runtime-src/proj.android-studio/.gradle
/frameworks/runtime-src/proj.android-studio/build
/frameworks/runtime-src/proj.android-studio/app/build
/frameworks/runtime-src/proj.android-studio/app/assets

/frameworks/runtime-src/proj.win32/Debug.win32

/frameworks/cocos2d-x/cocos/2d/Debug.win32
/frameworks/cocos2d-x/cocos/2d/Release.win32

/frameworks/cocos2d-x/cocos/scripting/js-bindings/proj.win32/Debug.win32
/frameworks/cocos2d-x/cocos/scripting/js-bindings/proj.win32/Release.win32
/frameworks/cocos2d-x/cocos/scripting/js-bindings/proj.ios_mac/cocos2d_js_bindings.xcodeproj/xcuserdata

/frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32
/frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Release.win32
/frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/libcocos2dx.iml

/frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32
/frameworks/cocos2d-x/external/bullet/proj.win32/Debug.win32
/frameworks/cocos2d-x/external/recast/proj.win32/Debug.win32
/frameworks/cocos2d-x/external/Box2D/proj.win32/Release.win32
/frameworks/cocos2d-x/external/bullet/proj.win32/Release.win32
/frameworks/cocos2d-x/external/recast/proj.win32/Release.win32

/frameworks/cocos2d-x/build/cocos2d_libs.xcodeproj/xcuserdata




/frameworks/runtime-src/proj.win32/qp_client.VC.db
/frameworks/runtime-src/proj.win32/qp_client.VC.VC.opendb
