<html>
<head>
    <title>jQuery bootstrap-select可搜索多选下拉列表插件-www.daimajiayuan.com</title>
    <script type="text/javascript" src="http://www.daimajiayuan.com/download/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/js/bootstrap-select.js"></script>
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/css/bootstrap-select.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript">
        $(window).on('load', function () {

            $('.selectpicker').selectpicker({
                'selectedText': 'cat',
                'maximumSelectionLength' :1
            });
            $('.selectpicker').click(function () {
                var a = $("#id_select").val();console.log(a);
                $("#a").val(a);
                $("#ad").val(a);
            });
        });
    </script>
    <style type="text/css">
        .selectpicker{
            width: 50px;
        }
    </style>
</head>
<body>
<div class="form-group" -style="height: 50px;background-color: red;">
    <label for="id_select" class="control-label col-xs-12 col-sm-2">请选择游戏ID:</label>
    <select id="id_select" class="selectpicker bla bla bli" multiple data-live-search="true" style="width: 50px
    ;background-color: yellow;height: 50px;">
        {volist name="list" id="data"}
        <option value="{$data.uid}({$data.wx_name})">{$data.uid}+{$data.wx_name}</option>
        {/volist}
    </select>
</div>
<div class="form-group">
    <label for="c-pid" class="control-label col-xs-12 col-sm-2">选择的结果:</label>
    <div class="col-xs-12 col-sm-8">
        <textarea rows="5" cols="50" disabled id="a" name="name1" class="form-control"></textarea>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-12 col-sm-2"></label>
    <div class="col-xs-12 col-sm-8">
        <button type="button" class="btn btn-success btn-embossed" id="sure">保存</button>
        <button type="button" class="btn btn-default btn-embossed" id="dels">取消</button>
    </div>
</div>

</body>
</html>

<script type="text/javascript">
    $(function () {
        $("#ribbon").css("display","none");
    })
</script>
<!--点击弹窗中的取消-->
<script type="text/javascript">
    $(function () {
        $("#dels").click(function () {
            parent.layer.closeAll();
        })
    })
</script>
<script type="text/javascript">
    $("#sure").click(function () {
        var url = "{:url('addSave')}";
        var uids = $("#a").val();
        if(uids==""){
            layer.msg('<span style="margin-left: 30px;">玩家信息不能为空,请必须至少选中一个玩家!</span>', {icon: 2,time: 2500});
        }
        else {
            layer.msg('<span style="margin-left: 30px;">输入正确!</span>', {icon: 1,time: 2500});
            $.ajax({
                type:"post",
                url:url,
                data:{uids:uids},
                dataType:"",
                success:function (data) {
                    parent.layer.closeAll();
                    parent.location.href="{:url('index')}";
                    console.log("success");
                    console.log(data);
                },
                error:function () {
                    console.log("fail");
                }
            })
        }
    })
</script>