<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Animations/EffDouDiZhu/EffShunZi/DDZLiZi01.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,80},{58,40}}</string>
				<key>offset</key>
				<string>{-145,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,117}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffShunZi/DDZLiZi02.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,0},{80,49}}</string>
				<key>offset</key>
				<string>{-131,-28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{354,117}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffShunZi/DDZLiZi03.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,423},{125,60}}</string>
				<key>offset</key>
				<string>{-113,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,117}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffShunZi/DDZLiZi04.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,423},{173,64}}</string>
				<key>offset</key>
				<string>{-83,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,117}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffShunZi/DDZLiZi05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,452},{201,60}}</string>
				<key>offset</key>
				<string>{-64,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,117}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffShunZi/DDZLiZi06.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,215},{215,66}}</string>
				<key>offset</key>
				<string>{-52,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,117}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffShunZi/DDZLiZi07.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,0},{215,70}}</string>
				<key>offset</key>
				<string>{-46,-20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{354,117}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffShunZi/DDZLiZi08.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,429},{227,70}}</string>
				<key>offset</key>
				<string>{-37,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,117}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffShunZi/DDZLiZi09.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,359},{229,70}}</string>
				<key>offset</key>
				<string>{-33,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,117}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffShunZi/DDZLiZi10.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,430},{232,70}}</string>
				<key>offset</key>
				<string>{-28,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,117}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffShunZi/DDZLiZi11.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,359},{234,71}}</string>
				<key>offset</key>
				<string>{-23,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,117}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffShunZi/DDZLiZi12.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,287},{237,72}}</string>
				<key>offset</key>
				<string>{-20,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,117}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffShunZi/DDZLiZi13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,214},{238,74}}</string>
				<key>offset</key>
				<string>{-14,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{354,117}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffShunZi/DDZLiZi14.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,214},{240,73}}</string>
				<key>offset</key>
				<string>{-9,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,117}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffShunZi/DDZLiZi15.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,287},{215,72}}</string>
				<key>offset</key>
				<string>{-20,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,117}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffShunZi/DDZLiZi16.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,283},{211,69}}</string>
				<key>offset</key>
				<string>{-15,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,117}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffShunZi/DDZLiZi17.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,215},{215,68}}</string>
				<key>offset</key>
				<string>{-11,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,117}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffShunZi/DDZLiZi18.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,352},{195,71}}</string>
				<key>offset</key>
				<string>{6,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,117}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffShunZi/DDZLiZi19.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,352},{121,71}}</string>
				<key>offset</key>
				<string>{5,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,117}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffShunZi/DDZLiZi20.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,281},{106,70}}</string>
				<key>offset</key>
				<string>{16,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,117}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffShunZi/DDZShunZi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{214,114}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{214,118}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>