<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Home/Image/BTN_Add.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,141},{41,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>Home/Image/BTN_DDZN.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{222,238}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,240}</string>
			</dict>
			<key>Home/Image/BTN_HelpN.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,448},{104,54}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,56}</string>
			</dict>
			<key>Home/Image/BTN_HelpP.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,472},{94,49}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,56}</string>
			</dict>
			<key>Home/Image/BTN_Horn.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,1},{373,138}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{374,142}</string>
			</dict>
			<key>Home/Image/BTN_MailN.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,956},{112,52}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,56}</string>
			</dict>
			<key>Home/Image/BTN_MailP.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,504},{101,47}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,56}</string>
			</dict>
			<key>Home/Image/BTN_MJN.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,481},{222,236}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,240}</string>
			</dict>
			<key>Home/Image/BTN_PSN.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,1},{220,235}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,240}</string>
			</dict>
			<key>Home/Image/BTN_PSZN.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,719},{222,235}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,240}</string>
			</dict>
			<key>Home/Image/BTN_RankList.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,1},{78,274}}</string>
				<key>offset</key>
				<string>{-2,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,284}</string>
			</dict>
			<key>Home/Image/BTN_RecordN.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,504},{102,51}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,56}</string>
			</dict>
			<key>Home/Image/BTN_RecordP.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,472},{92,45}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,56}</string>
			</dict>
			<key>Home/Image/BTN_SetN.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,277},{80,86}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,90}</string>
			</dict>
			<key>Home/Image/BTN_SetP.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,380},{72,79}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,90}</string>
			</dict>
			<key>Home/Image/BTN_ShareN.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,444},{80,89}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,90}</string>
			</dict>
			<key>Home/Image/BTN_ShareP.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,386},{72,79}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,90}</string>
			</dict>
			<key>Home/Image/BTN_TaskN.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,461},{106,50}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,56}</string>
			</dict>
			<key>Home/Image/BTN_TaskP.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,472},{96,45}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,56}</string>
			</dict>
			<key>Home/Image/BTN_TGYN.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,298},{80,86}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,90}</string>
			</dict>
			<key>Home/Image/BTN_TGYP.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,298},{72,80}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,90}</string>
			</dict>
			<key>Home/Image/BTN_WheelN.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,362},{80,86}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,90}</string>
			</dict>
			<key>Home/Image/BTN_WheelP.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,391},{72,79}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,90}</string>
			</dict>
			<key>Home/Image/BTN_XQN.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,241},{222,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,240}</string>
			</dict>
			<key>Home/Image/IMG_Dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,361},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>Home/Image/IMG_Head_Name.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,141},{226,74}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,76}</string>
			</dict>
			<key>Home/Image/BTN_BindN.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,451},{94,87}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,90}</string>
			</dict>
			<key>Home/Image/BTN_BindP.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,365},{84,81}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,90}</string>
			</dict>
			<key>Home/Image/BTN_TuiN.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,238},{111,121}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,124}</string>
			</dict>
			<key>Home/Image/BTN_TuiP.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,361},{104,109}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,124}</string>
			</dict>
			<key>Home/Image/BTN_ChessN.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,1},{78,274}}</string>
				<key>offset</key>
				<string>{2,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,284}</string>
			</dict>
			<key>Home/Image/BTN_ChessP.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,141},{72,248}}</string>
				<key>offset</key>
				<string>{5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,284}</string>
			</dict>
			<key>Home/Image/BTN_BellP.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,553},{103,45}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,56}</string>
			</dict>
			<key>Home/Image/BTN_BellN.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,956},{115,51}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,56}</string>
			</dict>
			<key>Home/Image/Btn_Chess_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,289},{107,71}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,80}</string>
			</dict>
			<key>Home/Image/Btn_Chess_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,956},{97,64}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,80}</string>
			</dict>
			<key>Home/Image/Btn_Enter_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,238},{82,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,204}</string>
			</dict>
			<key>Home/Image/Btn_Enter_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,277},{74,172}}</string>
				<key>offset</key>
				<string>{4,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,204}</string>
			</dict>
			<key>Home/Image/Btn_L_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,217},{154,79}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,86}</string>
			</dict>
			<key>Home/Image/Btn_L_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,217},{137,70}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,86}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>