<h1 style="text-align: center;">欢迎{$admin.nickname}来到棋牌游戏后台</h1>
<h4 style="color: black;font-weight: 900;">平台相关规则说明：</h4>
<h4 style="color: black;font-weight: 900;">一、代理激活规则：</h4>
<p>1、待激活一级代理累计消费金额达到 60.00 元便会自动激活</p>
<h4 style="color: black;font-weight: 900;">二、提现规则：</h4>
<p>1、剩余可提现金额必须达到 1.00 元才可以申请提现；</p>
<p> 2、每次提现金额不能低于 1.00 元</p>
<h4 style="color: black;font-weight: 900;">三、代理注册规则：</h4>
<p>注册代理时，可以选择填写推荐人游戏ID，若没填写，默认成为未激活的一级代理，可以充值，不可发展下级代理。</p>
<p>若填写了推荐人游戏ID，系统自动判断此游戏ID是一级/二级代理，申请人成为此人的二级/三级代理</p>
<p>若推荐人的游戏ID为三级代理，则不能成为推荐人，不能发展下级代理。</p>