<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-pid" class="control-label col-xs-12 col-sm-2">游戏ID:</label>
        <div class="col-xs-12 col-sm-8">
			<input type="text" name="uid" disabled value="{$uid}" class="form-control" id="uid" />
        </div>
    </div>
    <div class="form-group">
        <label for="c-pid" class="control-label col-xs-12 col-sm-2">微信昵称:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" name="wx_name" disabled value="{$wx_name}" class="form-control" id="wx_name" />
        </div>
    </div>
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">封禁选择:</label>
        <div class="col-xs-12 col-sm-8">
            {eq name="prohibit_log" value="0"}
            <input type="checkbox" name="multiselection" value="prohibit_log" disabled/>禁止登陆
            {else/}
            <input type="checkbox" name="multiselection" value="prohibit_log" checked />禁止登陆
            {/eq}
            <br>
            {eq name="prohibit_game" value="0"}
            <input type="checkbox" name="multiselection" value="prohibit_game" disabled/>禁止游戏
            {else/}
            <input type="checkbox" name="multiselection" value="prohibit_game" checked />禁止游戏
            {/eq}
            <br>
            {eq name="kick_line" value="0"}
            <input type="checkbox" name="multiselection" value="kick_line" disabled/>立即踢下线
            {else/}
            <input type="checkbox" name="multiselection" value="kick_line" checked />立即踢下线
            {/eq}
        </div>
    </div>
    <div class="form-group">
        <label for="c-keywords" class="control-label col-xs-12 col-sm-2"><span style="color: red;font-weight: 900;">*</span>操作日志:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea rows="5" cols="50" placeholder="请必须输入为什么要操作该功能的原因" class="form-control" id="log"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="button" class="btn btn-success btn-embossed" id="sure">移除</button>
            <button type="button" class="btn btn-default btn-embossed" id="dels">取消</button>
        </div>
    </div>
</form>
<script type="text/javascript" src="__PUBLIC__/assets/libs/jcrop/js/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#ribbon").css("display","none");
    })
</script>
<!--点击弹窗中的取消-->
<script type="text/javascript">
    $(function () {
        $("#dels").click(function () {
            parent.layer.closeAll();
        })
    })
</script>
<!--点击确定保存信息-->
<script type="text/javascript">
    $(function () {
        $("#sure").click(function () {
            var url = "{:url('delSave')}";
            //提交的数据
            var uid = $("#uid").val();console.log(uid);
            var log = $("#log").val();//console.log(log);
            var obj = document.getElementsByName("multiselection");
            check_val = [];
            for(k in obj){
                if(obj[k].checked)
                    check_val.push(obj[k].value);
            }
            
            var len = check_val.length;//console.log(len);
            var str = check_val.join(",");console.log(str);
                if(log==""){
                    layer.msg('<span style="margin-left: 30px;">日志不能为空,请必须输入日志!</span>', {icon: 2,time: 2500});
                }
                else {
                    $.ajax({
                        type:'post',
                        url:url,
                        data:{uid:uid,log:log,str:str},
                        dataType:'json',
                        success:function (data) {
                            parent.layer.closeAll();
                            parent.location.href="{:url('index')}";
                        },
                        error:function () {
                           	console.log("fail");
                        }
                    })
                }
                
        })
    })
</script>