<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/1/1-1-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/1/1-1-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,100},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/1/1-1-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,200},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/1/1-1-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/1/1-1-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,400},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/1/1-1-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,500},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/2/1-2-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/2/1-2-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,700},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/2/1-2-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,800},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/2/1-2-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,900},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/2/1-2-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/2/1-2-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/3/1-3-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/3/1-3-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/3/1-3-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/3/1-3-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/3/1-3-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/3/1-3-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/3/1-3-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/4/2-1-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,100},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/4/2-1-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,200},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/4/2-1-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,300},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/4/2-1-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,400},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/4/2-1-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,500},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/4/2-1-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,600},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/4/2-1-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,700},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/5/2-2-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,800},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/5/2-2-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,900},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/5/2-2-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,100},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/5/2-2-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,100},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/6/2-3-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,100},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/6/2-3-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,100},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/6/2-3-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,100},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/6/2-3-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,100},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/6/2-3-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,100},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/6/2-3-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,100},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/6/2-3-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,200},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/7/3-1-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,300},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/7/3-1-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,400},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/7/3-1-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,500},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/7/3-1-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,600},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/8/3-2-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,700},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/8/3-2-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,800},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/8/3-2-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,900},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/8/3-2-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,200},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/8/3-2-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,200},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/8/3-2-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,200},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/9/3-3-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,200},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/9/3-3-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,200},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/9/3-3-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,200},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/9/3-3-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,200},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/10/4-1-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,300},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/10/4-1-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,400},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/10/4-1-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,500},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/10/4-1-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,600},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/11/4-2-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,700},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/11/4-2-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,800},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/12/4-3-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,900},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/12/4-3-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,300},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/13/5-1-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,300},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/13/5-1-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,300},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/14/5-2-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,300},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/14/5-2-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,300},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/14/5-2-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,300},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/14/5-2-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,400},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/15/5-3-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,500},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/ComWindow/ChatWindow/ChatFaceEmoji/15/5-3-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,600},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>EmojiPlist.png</string>
			<key>realTextureFileName</key>
			<string>EmojiPlist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>