<link type="text/css" rel="stylesheet" href="__PUBLIC__newrili2/test/jeDate-test.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__newrili2/skin/jedate.css">
<script type="text/javascript" src="__PUBLIC__newrili2/src/jedate.js"></script>
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label for="repeatType" class="control-label col-xs-12 col-sm-2">任务类型:</label>
        <!--任务类型【repeatType】-->
        <div class="col-xs-12 col-sm-8">
            <input type="radio" name="repeatType" id="repeatType" checked value="1"> 一次性任务
            <input type="radio" name="repeatType" value="2"> 重复任务
        </div>
    </div>
    <div class="form-group">
        <label for="repeatType" class="control-label col-xs-12 col-sm-2">任务顺序:</label>
        <div class="col-xs-12 col-sm-8">
            <!--任务顺序【order】-->
            <input onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" name="task_order" placeholder="请输入播放顺序数字大于0的正整数" class="form-control" id="order">
            <span style="color: darkgray;"> (设置为0时，任务为隐藏任务) </span>
        </div>
    </div>
    <div class="form-group">
        <label for="repeatType" class="control-label col-xs-12 col-sm-2">任务奖励:</label>
        <div class="col-xs-12 col-sm-8">
            <!--奖励类型【rewardType】-->
            <select class="form-control" id="rewardType">
                <option value="1">金豆</option>
                <option value="2">彩票积分</option>
            </select>
            <!--奖励数量【rewardNum】-->
            <div class="form-control" style="width: 60px;height: 35px;border: 1px solid darkgray;">
                <input type="number" -class="form-control" style="border: none;" id="rewardNum">
                <span style="color: darkgray;"> (金豆) </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="repeatType" class="control-label col-xs-12 col-sm-2">任务游戏:</label>
        <div class="col-xs-12 col-sm-8">
            <!--游戏类型限制【gameTypeLimit】-->
            <select class="form-control" id="gameTypeLimit">
                <option value="0">任意游戏</option>
                <option value="1">麻将</option>
                <option value="2">斗地主</option>
                <option value="3">平三张</option>
                <option value="4">拼十</option>
                <option value="5">拼十</option>
            </select>
            <!--游戏规模限制【matchNameLimit】-->
            <select class="form-control" id="matchNameLimit">
                <option value="0">无规模限制</option>
                <option value="1">虾兵场</option>
                <option value="2">虾兵场</option>
                <option value="3">虾兵场</option>
                <option value="4">虾兵场</option>
                <option value="5">虾兵场</option>
                <option value="6">龙王场</option>
            </select>
            <!--游戏规模限制【gameSubType】-->
            <select class="form-control" id="gameSubType" style="display: none;">
                <option value="0">无规模限制</option>
                <option value="1">虾兵场</option>
                <option value="2">虾兵场</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="repeatType" class="control-label col-xs-12 col-sm-2">任务内容:</label>
        <div class="col-xs-12 col-sm-8">
            <!--条件类型【conditionType】-->
            <select class="form-control" id="conditionType">
                <option value="1">对战多少局</option>
                <option value="2">单局达到多少分</option>
            </select>
            <!--对应条件对应的数量【conditionNum】-->
            <div class="form-control" style="width: 60px;height: 35px;border: 1px solid darkgray;">
                <input type="number" -class="form-control" style="border: none;" id="task_content">
                <span style="color: darkgray;"> (局) </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="repeatType" class="control-label col-xs-12 col-sm-2">时间范围:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="jeitem">
                <div class="jeinpbox"><input type="text" class="jeinput time" id="test11B" placeholder="请选择时间" readonly value="{$time}"></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="repeatType" class="control-label col-xs-12 col-sm-2">任务状态:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="radio" name="task_status" id="task_status" checked value="2"> 启用
            <input type="radio" name="task_status" value="1"> 禁用
        </div>
    </div>
    <div class="form-group">
        <label class="repeatType col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="button" class="btn btn-success btn-embossed" id="sure">保存</button>
            <button type="button" class="btn btn-default btn-embossed" id="dels">取消</button>
        </div>
    </div>
</form>
 <script type="text/javascript" src="__PUBLIC__/assets/libs/jcrop/js/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#ribbon").css("display","none");
    })
</script>
<!--点击弹窗中的取消-->
<!--游戏模式【加一个模式】-->
<script type="text/javascript">
    $(function () {
        $("#dels").click(function () {
            parent.layer.closeAll();
        })
    })
</script>
<!--点击游戏类型限制与游戏规模限制判断确定是否出现后面的gameSubTypel-->
<!--点击确定保存信息-->
<script type="text/javascript">
    $(function () {
        $("#sure").click(function () {
            var url = "{:url('addSave')}";
            var repeatType = $("#repeatType").val();
            var rewardType = $("#rewardType").val();
            var rewardNum = $("#rewardNum").val();
            var order = $("#order").val();
            var gameTypeLimit = $("#gameTypeLimit").val();
            var matchNameLimit = $("#matchNameLimit").val();
            var conditionType = $("#conditionType").val();
            var conditionNum = $("#conditionNum").val();
            var gameSubType = $("#gameSubType").val();
            if(contents==""){
                layer.msg('<span style="margin-left: 30px;">文本内容不能为空,请必须输入文本内容!</span>', {icon: 2,time: 2500});
            }
            else if(playback_sequence==""){
                layer.msg('<span style="margin-left: 30px;">播放顺序不能为空,请必须输入播放顺序!</span>', {icon: 2,time: 2500});
            }
            else {
                layer.msg('<span style="margin-left: 30px;">输入正确!</span>', {icon: 1,time: 2500});
                $.ajax({
                    type:'post',
                    url:url,
                    data:{contents:contents,playback_sequence:playback_sequence,status:status},
                    dataType:'json',
                    success:function (data) {
                        parent.layer.closeAll();
                        parent.location.href="{:url('index')}";
                        //console.log("success");
                    },
                    error:function () {
                        //console.log("fail");
                    }
                })
            }
        })
    })
</script>