<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="utf8">
    <style type="text/css">
        .mytable {
            table-layout: fixed;
            width: 100% ;
            margin: 0px;
        }
        th,td{
            -width:1000px;
            height:40px;
            border :1px solid black;
            font-size:12px;
            text-align :center;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow:hidden;
        }
    </style>
    <script src="__PUBLIC__/layer/layer.js"></script>
    <script src="__PUBLIC__/layer/extend/layer.ext.js"></script>
</head>

<!--搜索-->
<form action="{:url('index')}" method="post">
    <div align="left" style="float: left;width: 50%;">
        <!--<input type="text" class="form-control" placeholder="请输入任务序号" name="uid" style="width: 200px;float: left;" value="{$uid}">
        <input type="submit" value="搜索" class="form-control" style="width: 50px;float: left;margin-left: 25px;">-->
        <div class="dropdown btn-group {:$auth->check('gamemodule/horseset/add')?'':'hide'}" style="background-color: #18BC9C;color: white;width: 70px;height: 30px;text-align: center;line-height: 30px;margin-left: 25px;">
            <a -class="btn btn-success btn-edit" title="任务设置" id="add" style="color: white;cursor: pointer;">
                <i class="fa fa-plus"></i>
                任务设置
            </a>
        </div>
    </div>
    <div align="right" style="float: left;width: 50%;">
        <!--<p style="color: red;">编辑按钮只有在晚上零点过后才有用</p>
        <p style="color: red;">1、一次性任务: 必须在时间结束才能删除；2、重复任务:随时可以删除，但是只有等到第二天才生效</p>-->
        <input type="hidden" value="{$ip}" id="ip"/>
    </div>

    <br><br><br>
    <table class="mytable">
        <thead>
        <tr>
            <th style="width: 10%;">任务序号</th>
            <th style="width: 10%;">任务类型</th>
            <th style="width: 10%;">任务顺序</th>
            <th style="width: 20%;">任务奖励类型</th>
            <th style="width: 10%;">任务奖励数量</th>
            <th style="width: 10%;">游戏类型</th>
            <th style="width: 25%;">游戏场次</th>
            <th style="width: 10%;">任务内容类型</th>
            <th style="width: 10%;">任务内容数量</th>
            <th style="width: 10%;">开始时间</th>
            <th style="width: 10%;">结束时间</th>
            <th style="width: 10%;">删除状态</th>
            <th style="width: 10%;">操作</th>
        </tr>
        </thead>
    </table>
    <div align="right">

    </div>
</form>


<script type="text/javascript" src="__PUBLIC__/assets/libs/jcrop/js/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#ribbon").css("display","none");
    })
</script>
<!--新增任务-->
<script type="text/javascript">
    $(function () {
        $("#add").click(function () {
            var modurl = "{:url('add')}";
            layer.open({
                type: 2,
                closeBtn: 1,
                skin: 'layui-layer-demo',
                title: '任务设置',
                maxmin: false,
                shadeClose: true,
                area : ['800px', '550px'],
                offset : ['20px', ''],
                content: modurl
            })
        })
    })
</script>