<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="utf8">
    <style type="text/css">
        .mytable {
            table-layout: fixed;
            width: 100% ;
            margin: 0px;
        }
        th,td{
            -width:1000px;
            height:40px;
            border :1px solid black;
            font-size:12px;
            text-align :center;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow:hidden;
        }
    </style>
    <script src="__PUBLIC__/layer/layer.js"></script>
    <script src="__PUBLIC__/layer/extend/layer.ext.js"></script>
</head>

<!--搜索-->
<form action="{:url('index')}" method="post">
    <div align="left" style="float: left;width: 50%;">
        <!--<input type="text" class="form-control" placeholder="请输入任务序号" name="uid" style="width: 200px;float: left;" value="{$uid}">
        <input type="submit" value="搜索" class="form-control" style="width: 50px;float: left;margin-left: 25px;">-->
        <div class="dropdown btn-group {:$auth->check('gamemodule/horseset/add')?'':'hide'}" style="background-color: #18BC9C;color: white;width: 70px;height: 30px;text-align: center;line-height: 30px;margin-left: 25px;">
            <a -class="btn btn-success btn-edit" title="任务设置" id="add" style="color: white;cursor: pointer;">
                <i class="fa fa-plus"></i>
                任务设置
            </a>
        </div>
    </div>
    <div align="right" style="float: left;width: 50%;">
        <!--<p style="color: red;">编辑按钮只有在晚上零点过后才有用</p>
        <p style="color: red;">1、一次性任务: 必须在时间结束才能删除；2、重复任务:随时可以删除，但是只有等到第二天才生效</p>-->
        <input type="hidden" value="{$ip}" id="ip"/>
    </div>

    <br><br><br>
    <table class="mytable">
        <thead>
        <tr>
            <th style="width: 10%;">任务序号</th>
            <th style="width: 10%;">任务类型</th>
            <th style="width: 10%;">任务顺序</th>
            <th style="width: 20%;">任务奖励类型</th>
            <th style="width: 10%;">任务奖励数量</th>
            <!--th style="width: 15%;">任务游戏类型</th>-->
            <th style="width: 10%;">游戏类型</th>
            <th style="width: 25%;">游戏场次</th>
            <th style="width: 10%;">任务内容类型</th>
            <th style="width: 10%;">任务内容数量</th>
            <th style="width: 10%;">开始时间</th>
            <th style="width: 10%;">结束时间</th>
            <th style="width: 10%;">删除状态</th>
            <th style="width: 10%;">操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach name="plist" id="vol"}
        <tr>
            <td style="width: 10%;">{$vol['id']}</td>
            <td style="width: 10%;"><!--{$vol['type']}-->
                {if condition="($vol['type'] == 1)"} 一次性任务
                {else /} 重复任务
                {/if}
            </td>
            <td style="width: 15%;">{$vol['order']}</td>
            <td style="width: 20%;"><!--{$vol['reward']['type']}-->
                {if condition="($vol['reward']['type'] == 1)"} 金豆
                {else /} 彩票积分
                {/if}
            </td>
            <td style="width: 10%;">{$vol['reward']['num']}</td>
            <td style="width: 10%;"><!--{$vol['game']['type']}-->
                {if condition="$vol['game']['type'] eq 0"} 任意游戏
                {elseif condition="$vol['game']['type'] eq 1"/}海南麻将
                {elseif condition="$vol['game']['type'] eq 2"/}斗地主
                {elseif condition="$vol['game']['type'] eq 4"/}拼三张
                {elseif condition="$vol['game']['type'] eq 5"/}拼十
                {elseif condition="$vol['game']['type'] eq 7"/}跑得快
                {else /} 血战麻将
                {/if}
            </td>
            <!--<td style="width: 10%;">&lt;!&ndash;{$vol['game']['subType']}&ndash;&gt;
                {if condition="$vol['game']['type'] eq 0"}
                任意模式
                {elseif condition="$vol['game']['type'] eq 1"/}
                {if condition="$vol['game']['subType'] eq 0"} 任意模式
                {elseif condition="$vol['game']['subType'] eq 1"/}二人麻将
                {else /} 四人麻将
                {/if}
                {elseif condition="$vol['game']['type'] eq 2"/}
                {if condition="$vol['game']['subType'] eq 0"} 任意模式
                {elseif condition="$vol['game']['subType'] eq 1"/}普通模式
                {else /} 不洗牌模式
                {/if}
                {elseif condition="$vol['game']['type'] eq 5"/}
                {if condition="$vol['game']['subType'] eq 0"} 任意模式
                {elseif condition="$vol['game']['subType'] eq 1"/}卡牌抢庄
                {else /} 自由抢庄
                {/if}
                {elseif condition="$vol['game']['type'] eq 7"/}
                {if condition="$vol['game']['subType'] eq 0"} 任意模式
                {elseif condition="$vol['game']['subType'] eq 1"/}三人场
                {else /} 四人场
                {/if}
                {else condition="$vol['game']['type'] eq 4"/}
                {if condition="$vol['game']['subType'] eq 0"} 任意模式
                {elseif condition="$vol['game']['subType'] eq 1"/}普通模式
                {else /} 激情模式
                {/if}
                {/if}
            </td>-->
            <td style="width: 10%;"><!--{$vol['game']['matchName']}-->
                {if condition="$vol['game']['matchName'] eq 0"} 无规模限制
                {elseif condition="$vol['game']['matchName'] eq 1"/}新手场
                {elseif condition="$vol['game']['matchName'] eq 2"/}平民场
                {else /} 小资场
                {/if}
            </td>
            <td style="width: 10%;"><!--{$vol['condition']['type']}-->
                {if condition="$vol['condition']['type'] eq 1"} 对战多少局
                {elseif condition="$vol['condition']['type'] eq 2"} 单局达到多少分
                {elseif condition="$vol['condition']['type'] eq 3"} 打出多少炸弹(仅对斗地主、跑得快有效)
                {elseif condition="$vol['condition']['type'] eq 4"} 打出多少春天(仅对斗地主生效)
                {elseif condition="$vol['condition']['type'] eq 5"} 连续赢得xx把
                {elseif condition="$vol['condition']['type'] eq 6"} 当地主xx把(仅对斗地主生效)
                {elseif condition="$vol['condition']['type'] eq 7"} 一天内打出xx王炸(仅对斗地主生效)
                {elseif condition="$vol['condition']['type'] eq 8"} 一天赢得xx次大关(仅对跑得快生效)
                {elseif condition="$vol['condition']['type'] eq 9"} 一天赢得xx次小关(仅对跑得快生效)
                {elseif condition="$vol['condition']['type'] eq 10"} 自摸xx次(仅对麻将生效)
                {elseif condition="$vol['condition']['type'] eq 11"} 清一色胡xx次(仅对麻将生效)
                {elseif condition="$vol['condition']['type'] eq 12"} 七对胡x次(仅对麻将生效)
                {elseif condition="$vol['condition']['type'] eq 13"} 抢杠胡x次(仅对麻将生效)
                {elseif condition="$vol['condition']['type'] eq 14"} 十三幺胡x次(仅对麻将生效)
                {elseif condition="$vol['condition']['type'] eq 15"} 碰碰胡x次(仅对麻将生效)
                {elseif condition="$vol['condition']['type'] eq 16"} 一天累计胡幺九xx次
                {elseif condition="$vol['condition']['type'] eq 17"} 一天累计胡将对xx次
                {elseif condition="$vol['condition']['type'] eq 18"} 一天累计胡门清xx次
                {elseif condition="$vol['condition']['type'] eq 19"} 一天累计胡中张xx次
                {elseif condition="$vol['condition']['type'] eq 20"} 一天累计胡金钩钓xx次
                {elseif condition="$vol['condition']['type'] eq 21"} 一天累计天胡xx次
                {else /} 一天累计地胡xx次
                {/if}
            </td>
            <td style="width: 10%;">{$vol['condition']['num']}</td>
            <td style="width: 10%;cursor: pointer;" title="{$vol['startTimeStr']}" class="startTimeStr" modurla="{$vo['id']}" modurl="{:url('getStartTimeStr',array('id'=>$vol['id'],'startTimeStr'=>$vol['startTimeStr']))}">
                {$vol['startTimeStr']}
            </td>
            <td style="width: 10%;cursor: pointer;" title="{$vol['endTimeStr']}" class="endTimeStr" modurla="{$vo['id']}" modurl="{:url('getEndTimeStr',array('id'=>$vol['id'],'endTimeStr'=>$vol['endTimeStr']))}">
                {$vol['endTimeStr']}
            </td>
            <td style="width: 10%;"><!--{$vol['deleteIng']}-->
                {if condition="$vol['deleteIng'] eq true"} <a>正在删除中</a>
                {elseif condition="$vol['deleteIng'] eq false"} <a>正常状态</a>
                {else /} false1
                {/if}
            </td>
            <td style="width: 10%;">
                <!--查看时间年月日时分秒【即是一次性任务】是否过期-->
                <a class="moduserEdit" style="cursor:pointer;text-decoration:none;" modurla="{$vol['id']}" modurl="{:url('edit',array('id'=>$vol['id']))}">编辑</a>
                <!--<a class="moduserDel" modurla="{$vol['id']}" id="del" style="text-decoration: none;cursor:pointer;">删除</a>-->
                <a class="moduserDel" modurla="{$vol['id']}" id="del" style="text-decoration: none;cursor:pointer;">删除</a>
                <!--{if condition="($vol['type'] == 1)"} &lt;!&ndash;一次性任务&ndash;&gt;
                    {if condition="$vol['deleteIng'] eq true"}
                    <a class="moduserDel" modurla="{$vol['id']}" id="del" style="text-decoration: none;cursor:pointer;">删除</a>
                    {elseif condition="$vol['deleteIng'] eq false"}
                    <a style="color: red;text-decoration: none;cursor:pointer;">不能删除</a>
                    {else /} false1
                    {/if}
                {else /}
                    <a class="moduserDel" modurla="{$vol['id']}" id="dell" style="text-decoration: none;cursor:pointer;">删除</a>
                {/if}-->

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    <div align="right">
        {$plistpage}
    </div>
</form>


<script type="text/javascript" src="__PUBLIC__/assets/libs/jcrop/js/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#ribbon").css("display","none");
    })
</script>
<!--点击显示开始时间-->
<script type="text/javascript">
    $(".startTimeStr").on('click',function () {
        var modurl = $(this).attr("modurl");
        var id = $(this).attr("modurla");
        parent.layer.open({
            type: 2,
            title: 'id为'+id+'的开始时间',
            maxmin: true,
            shadeClose: true,
            area : ['800px', '460px'],
            offset : ['100px', ''],
            content: modurl
        })
    })
</script>
<!--点击显示结束时间-->
<script type="text/javascript">
    $(".endTimeStr").on('click',function () {
        var modurl = $(this).attr("modurl");
        var id = $(this).attr("modurla");
        parent.layer.open({
            type: 2,
            title: 'id为'+id+'的结束时间',
            maxmin: true,
            shadeClose: true,
            area : ['800px', '460px'],
            offset : ['100px', ''],
            content: modurl
        })
    })
</script>
<!--新增任务-->
<script type="text/javascript">
    $(function () {
        $("#add").click(function () {
            var modurl = "{:url('add')}";
            layer.open({
                type: 2,
                closeBtn: 1,
                skin: 'layui-layer-demo',
                title: '任务设置',
                maxmin: false,
                shadeClose: true,
                area : ['800px', '550px'],
                offset : ['20px', ''],
                content: modurl
            })
        })
    })
</script>
<!--显示修改页面弹窗-->
<script type="text/javascript">
    $('.moduserEdit').on('click', function(){
        var modurl = $(this).attr("modurl");
        var id = $(this).attr("modurla");
        parent.layer.open({
            type: 2,
            title: '修改数据',
            maxmin: true,
            shadeClose: true,
            area : ['800px', '460px'],
            offset : ['100px', ''],
            content: modurl
        })
    })
</script>
<!--删除操作-->
<script type="text/javascript">
    $('.moduserDel').on('click', function(){
        var url = "{:url('del')}";
        var ip = $("#ip").val();
        var tiaourl = "http://"+ip+"/fastadmin_revision1/public/admin/task/system?ref=addtabs";
        var id = $(this).attr("modurla");
        var msg = "<font style='color:red;'>是否选择要删除该项的任务</font>";
        layer.alert(msg, {
            skin: 'layui-layer-molv',
            closeBtn: 1,
            anim: 1,
            btn: ['确定','取消'], //按钮
            icon: 6,
            yes:function(){ //点击确定就是执行删除操作
                $.ajax({
                    type:"post",
                    url:url,
                    dataType:"json",
                    data:{id:id},
                    success:function (data) {
                        layer.msg('<span style="margin-left: 30px;">data</span>', {icon: 1,time: 10000});
                        console.log(data);
                        console.log("success");
                        parent.layer.closeAll();
                        parent.location.href=tiaourl;
                    },
                    error:function () {
                        console.log("fail");
                    }
                })
            }
            ,btn2:function(){
                layer.closeAll();
            }
        })
    })
</script>