<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-type" class="control-label col-xs-12 col-sm-2">说明:</label>
        <div class="col-xs-12 col-sm-8">
            <span style="color: red;font-weight: 900;font-size: 20px;">+</span>表示增加1
            &nbsp;&nbsp;&nbsp;
            <span style="color: red;font-weight: 900;font-size: 20px;">-</span>表示扣减
        </div>
    </div>
    <div class="form-group">
        <label for="c-pid" class="control-label col-xs-12 col-sm-2">游戏ID:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea rows="10" cols="30" class="form-control" disabled id="uid">{$uids}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">钻石数量:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" value="0" placeholder="请输入钻石数量" id="diamonds" style="width: 40%;float: left;"/>
            &nbsp;&nbsp;&nbsp;
            <span style="float: left;color: green;"> &nbsp;&nbsp;&nbsp; 不输入表示既不增加也不减少</span>
        </div>
    </div>
    <div class="form-group">
        <label for="c-nickname" class="control-label col-xs-12 col-sm-2">房卡数量:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" value="0" placeholder="请输入房卡数量" id="room_cards" style="width: 40%;float: left;"/>
            <span style="float: left;color: green;"> &nbsp;&nbsp;&nbsp; 不输入表示既不增加也不减少</span>
        </div>
    </div>
    <div class="form-group">
        <label for="c-flag" class="control-label col-xs-12 col-sm-2">金豆数量:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" value="0" placeholder="请输入金豆数量" id="beans" style="width: 40%;float: left;"/>
            <span style="float: left;color: green;"> &nbsp;&nbsp;&nbsp; 不输入表示既不增加也不减少</span>
        </div>
    </div>
    <div class="form-group" style="text-align: center;">
        <label for="c-group_id" class="control-label col-xs-12 col-sm-2" style="width: 37%;">(单次最多增加1000钻石或10000金豆)</label>
    </div>
    <div class="form-group">
        <label for="c-keywords" class="control-label col-xs-12 col-sm-2"><span style="color: red;font-weight: 900;">*</span>操作日志:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea rows="5" cols="50" placeholder="请必须输入为什么要操作该功能的原因" class="form-control" id="log"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="button" class="btn btn-success btn-embossed" id="sure">保存</button>
            <button type="button" class="btn btn-default btn-embossed" id="dels">取消</button>
        </div>
    </div>
</form>
<script type="text/javascript" src="__PUBLIC__/assets/libs/jcrop/js/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#ribbon").css("display","none");
    })
</script>
<!--点击弹窗中的取消-->
<script type="text/javascript">
    $(function () {
        $("#dels").click(function () {
            parent.layer.closeAll();
        })
    })
</script>
<!--点击确定保存信息-->
<script type="text/javascript">
    $(function () {
        $("#sure").click(function () {
            var url = "{:url('addSave')}";
            //提交的数据
            var uid = $("#uid").val();
            var diamonds = $("#diamonds").val();
            var room_cards = $("#room_cards").val();
            var beans = $("#beans").val();
            var log = $("#log").val();
            if(diamonds==""){
                layer.msg('<span style="margin-left: 30px;">钻石数量不能为空,请必须输入钻石数量!</span>', {icon: 2,time: 2500});
            }
            else if(room_cards==""){
                layer.msg('<span style="margin-left: 30px;">房卡数量不能为空,请必须输入房卡数量!</span>', {icon: 2,time: 2500});
            }
            else if(beans==""){
                layer.msg('<span style="margin-left: 30px;">金豆数量不能为空,请必须输入金豆数量!</span>', {icon: 2,time: 2500});
            }
            else if(log==""){
                layer.msg('<span style="margin-left: 30px;">日志不能为空,请必须输入日志内容!</span>', {icon: 2,time: 2500});
            }
            else {
                if((diamonds.substring(0,1)=="+" || diamonds.substring(0,1)=="-") && (room_cards.substring(0,1)=="+" || room_cards.substring(0,1)=="-") && (beans.substring(0,1)=="+" || beans.substring(0,1)=="-")){
                    //layer.msg('<span style="margin-left: 30px;">输入正确!</span>', {icon: 1,time: 2500});
                    $.ajax({
                        type:"post",
                        url:url,
                        data:{uid:uid,diamonds:diamonds,room_cards:room_cards,beans:beans,log:log},
                        dataType:"json",
                        success:function (data) {
                            /*parent.layer.closeAll();
                            parent.location.href="{:url('index')}";*/
                            console.log("success");
                            console.log(data);
                            if(data==1){
                                layer.msg('<span style="margin-left: 30px;">修改正确!</span>', {icon: 1,time: 2500});
                                parent.layer.closeAll();
                                parent.location.href="{:url('index')}";
                            }
                            else {
                                layer.msg('<span style="margin-left: 30px;">修改后的数量不能是负数!</span>', {icon: 2,time: 2500});
                            }
                        },
                        error:function () {
                            console.log("fail");
                        }
                    })
                }
                else {
                    layer.msg('<span style="margin-left: 30px;">数量前必须加上"+"或"-"符号!</span>', {icon: 2,time: 2500});
                }
            }
        })
    })
</script>