<div class="panel panel-default panel-intro">
    <!--{:build_heading()}-->

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        {:build_toolbar('refresh')}
                        <a class="btn btn-success btn-myexcel-export  -btn-disabled -disabled {:$auth->check('gamecard/export')?'':'hide'}" href="javascript:;"><i class="fa fa-user"></i> 导出</a>
                        <div class="dropdown btn-group {:$auth->check('gamemodule/gamecard/add')?'':'hide'}" style="background-color: #18BC9C;color: white;width: 90px;height: 30px;text-align: center;line-height: 30px;" id="add">
                            <a -class="btn btn-success btn-edit" title="新增游戏卡" style="color: white;cursor: pointer;">
                                <i class="fa fa-plus"></i>
                                新增游戏卡
                            </a>
                        </div>
                        <!--<div class="dropdown btn-group {:$auth->check('gamemodule/gamecard/export')?'':'hide'}" id="export">
                            <a class="btn btn-success btn-myexcel-export"><i class="fa fa-user"></i> 导出</a>
                        </div>-->
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover"
                           data-operate-edit="{:$auth->check('gamemodule/gamecard/edit')}"
                           data-operate-del="{:$auth->check('gamemodule/gamecard/del')}"
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/assets/libs/jcrop/js/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#ribbon").css("display","none");
    })
</script>
<!--添加游戏卡-->
<script type="text/javascript">
    $(function () {
        $("#add").click(function () {
            var modurl = "{:url('add')}";
            layer.open({
                type: 2,
                closeBtn: 1,
                skin: 'layui-layer-demo',
                title: '添加游戏卡',
                maxmin: false,
                shadeClose: true,
                area : ['800px', '550px'],
                offset : ['20px', ''],
                content: modurl
            })
        })
    })
</script>
<!--导出功能-->
<!--
<script type="text/javascript">
    $(function () {
        $("#export").click(function () { //alert("执行导出功能");
            var num = 10000;
            var modurl = "{:url('ajax')}";
            //alert("是否确定要导出该数据表!");
            $.ajax({
                type:"post",
                url:modurl,
                data:{num:num},
                dataType:"json",
                //timeout:3000000,
                success:function (data) {
                    console.log(data);
                    console.log("success");
                },
                error:function () {
                    console.log("fail11");
                }
            })
        })
    })
</script>-->
