<div class="fixed-table-body">
<table class="mytable" id="table" data-operate-edit="1" data-operate-del="1" width="100%">
    <style type="text/css">
        .mytable {
            table-layout: fixed;
            width: 100% ;
            margin: 0px;
        }
        th,td{
            -width:1000px;
            height:40px;
            border :1px solid black;
            font-size:12px;
            text-align :center;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow:hidden;
        }
    </style>
    <thead>
        <tr>
            <th>uid</th>
            <th>斗地主幸运值</th>
            <th>拼三张幸运值</th>
            <th>拼十幸运值</th>
            <th>操作</th>
        </tr>
    <style>
        .hei th{font-weight: 900;}
    </style>
    </thead>
    <tbody id="tbody">
        <tr>
            <td colspan="5">请先在搜索栏输入某玩家的uid才能查到该玩家的信息</td>
        </tr>
    </tbody>
</table>
</div>

