<div class="fixed-table-body">
<table class="mytable" id="table" data-operate-edit="1" data-operate-del="1" width="100%">
    <thead>
    <style type="text/css">
        .mytable {
            table-layout: fixed;
            width: 100% ;
            margin: 0px;
        }
        th,td{
            -width:1000px;
            height:40px;
            border :1px solid black;
            font-size:12px;
            text-align :center;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow:hidden;
        }
    </style>
    <tr class="hei">
        <th>uid</th>
        <th>斗地主幸运值</th>
        <th>拼三张幸运值</th>
        <th>拼十幸运值</th>
        <th>操作</th>
    </tr>
    <style>
        .hei th{font-weight: 900;}
    </style>
    </thead>
    <tbody id="tbody">
    <tr>
        <td>
            {$uid}
        </td>
        <td>
            {$ddz}
        </td>
        <td>
            {$psz}
        </td>
        <td>
            {$ps}
        </td>
        <td>
            <a -href="#" modurla="{$uid}" id="edit">编辑</a>
        </td>
    </tr>
    </tbody>
</table>
</div>
<div class="green-black pager" style="float:left;"></div>
<!--删掉控制台字标-->
<script type="text/javascript">
    $(function () {
        $("#ribbon").css("display","none");
        $(".col-xs-12 #ribbon").css("display","none");
    })
</script>
<!--编辑操作-->
<script type="text/javascript">
    $("#edit").click(function () {
        var uid = $(this).attr("modurla");
        var modurl = "{:url('edit')}?uid="+uid;
        layer.open({
            type: 2,
            closeBtn: 1,
            skin: 'layui-layer-demo',
            title: '添加',
            maxmin: false,
            shadeClose: true,
            area : ['800px', '460px'],
            offset : ['100px', ''],
            content: modurl
        })
    })
</script>