<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Animations/EffDouDiZhu/EffChunTian/CTHua1.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,447},{48,48}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffChunTian/CTHua11.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,152},{39,41}}</string>
				<key>offset</key>
				<string>{2,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffChunTian/CTHua2.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,71},{75,63}}</string>
				<key>offset</key>
				<string>{6,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffChunTian/CTHua22.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,447},{53,53}}</string>
				<key>offset</key>
				<string>{-2,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffChunTian/CTHua3.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,223},{103,86}}</string>
				<key>offset</key>
				<string>{6,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffChunTian/CTHua33.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,0},{73,71}}</string>
				<key>offset</key>
				<string>{2,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffChunTian/CTHua4.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,301},{114,106}}</string>
				<key>offset</key>
				<string>{1,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffChunTian/CTHua44.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,134},{103,101}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffChunTian/CTHua55.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,118},{108,105}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffChunTian/CTHua66.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,415},{128,85}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffChunTian/CTHua77.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,118},{108,105}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffChunTian/DDZBuHua1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,301},{146,107}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,108}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffChunTian/DDZBuHua2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,118},{183,124}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,124}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffChunTian/DDZChunTian.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{214,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,118}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffChunTian/DDZChunTianGuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,0},{214,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,118}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffChunTian/DDZHua2.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,495},{15,17}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,18}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffChunTian/DDZHua3.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,415},{29,32}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,32}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffChunTian/DDZHua4.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,415},{33,28}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,28}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffChunTian/DDZHua5.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,191},{41,39}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,40}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffChunTian/DDZYe1.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,495},{20,13}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,14}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffChunTian/DDZYe2.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,468},{30,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,24}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffChunTian/DDZYe3.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,443},{25,30}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,30}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffChunTian/DDZYe4.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,492},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffChunTian/DDZYe5.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,447},{58,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,38}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffChunTian/DDZYe6.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,118},{60,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,34}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>