<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>RoomCard/Image/BTN_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,320},{116,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,72}</string>
			</dict>
			<key>RoomCard/Image/BTN_0_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,436},{104,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,72}</string>
			</dict>
			<key>RoomCard/Image/BTN_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,320},{116,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,72}</string>
			</dict>
			<key>RoomCard/Image/BTN_1_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,436},{104,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,72}</string>
			</dict>
			<key>RoomCard/Image/BTN_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,320},{116,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,72}</string>
			</dict>
			<key>RoomCard/Image/BTN_2_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,304},{104,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,72}</string>
			</dict>
			<key>RoomCard/Image/BTN_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,0},{116,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,72}</string>
			</dict>
			<key>RoomCard/Image/BTN_3_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,0},{104,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,72}</string>
			</dict>
			<key>RoomCard/Image/BTN_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,116},{116,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,72}</string>
			</dict>
			<key>RoomCard/Image/BTN_4_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,104},{104,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,72}</string>
			</dict>
			<key>RoomCard/Image/BTN_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,232},{116,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,72}</string>
			</dict>
			<key>RoomCard/Image/BTN_5_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,0},{104,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,72}</string>
			</dict>
			<key>RoomCard/Image/BTN_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,304},{116,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,72}</string>
			</dict>
			<key>RoomCard/Image/BTN_6_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,104},{104,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,72}</string>
			</dict>
			<key>RoomCard/Image/BTN_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,304},{116,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,72}</string>
			</dict>
			<key>RoomCard/Image/BTN_7_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,208},{104,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,72}</string>
			</dict>
			<key>RoomCard/Image/BTN_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,420},{116,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,72}</string>
			</dict>
			<key>RoomCard/Image/BTN_8_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,272},{104,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,72}</string>
			</dict>
			<key>RoomCard/Image/BTN_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,0},{116,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,72}</string>
			</dict>
			<key>RoomCard/Image/BTN_9_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,418},{104,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,72}</string>
			</dict>
			<key>RoomCard/Image/BTN_Add.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,0},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>RoomCard/Image/BTN_Del.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,116},{116,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,72}</string>
			</dict>
			<key>RoomCard/Image/BTN_Del_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,272},{104,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,72}</string>
			</dict>
			<key>RoomCard/Image/Btn_Horn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,50},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>RoomCard/Image/Btn_Horn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,376},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>RoomCard/Image/BTN_Reset.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,232},{116,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,72}</string>
			</dict>
			<key>RoomCard/Image/BTN_Reset_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,376},{104,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,72}</string>
			</dict>
			<key>RoomCard/Image/Img_RoomCard__4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{254,320}}</string>
				<key>offset</key>
				<string>{8,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,328}</string>
			</dict>
			<key>RoomCard/Image/Img_RoomCard__5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,500},{2,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{2,392}</string>
			</dict>
			<key>RoomCard/Image/Img_RoomCard_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{136,74}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,76}</string>
			</dict>
			<key>RoomCard/Image/Img_RoomCard__8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,456},{176,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,44}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>