<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Animations/EffHall/Images/Chess_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,137},{104,54}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,58}</string>
			</dict>
			<key>Animations/EffHall/Images/Chess_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,137},{90,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,86}</string>
			</dict>
			<key>Animations/EffHall/Images/Chess_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{134,137}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,140}</string>
			</dict>
			<key>Animations/EffHall/Images/Chess_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,227},{25,23}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Z_1.png</string>
			<key>realTextureFileName</key>
			<string>Z_1.png</string>
			<key>size</key>
			<string>{256,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>