<link type="text/css" rel="stylesheet" href="__PUBLIC__/newrili2/test/jeDate-test.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/newrili2/skin/jedate.css">
<script type="text/javascript" src="__PUBLIC__/newrili2/src/jedate.js"></script>

<div class="jeitem">
    <label class="jelabel">时间范围1</label>
    <div class="jeinpbox"><input type="text" class="jeinput" id="test11B" placeholder="hh:mm:ss"></div>
</div>
<script type="text/javascript" src="__PUBLIC__/newrili2/test/demo.js"></script>