<link type="text/css" rel="stylesheet" href="__PUBLIC__/newrili/jeDate-test.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/newrili/skin/jedate.css">
<script src="__PUBLIC__/newrili/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/newrili/jquery.jedate.js"></script>
<script type="text/javascript" src="__PUBLIC__/newrili/jedate-test.js"></script>
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <!--<div class="form-group">
        <label for="start_time" class="control-label col-xs-12 col-sm-2">开始时间:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control jeinput moredate" id="start_time" placeholder="hh:mm:ss" readonly -value="{$start_time}">
        </div>
    </div>
    <div class="form-group">
        <label for="end_time" class="control-label col-xs-12 col-sm-2">结束时间:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control jeinput moredate" id="end_time" placeholder="hh:mm:ss" readonly -value="{$end_time}">
        </div>
    </div>-->
    <!--时分秒范围选择-->
    <div class="form-group">
        <label for="test11B" class="control-label col-xs-12 col-sm-2">时间范围:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="jeitem">
                <div class="jeinpbox"><input type="text" class="jeinput" id="test11B" placeholder="hh:mm:ss"></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="playback_sequence" class="control-label col-xs-12 col-sm-2">播放顺序:</label>
        <div class="col-xs-12 col-sm-8">
            <div style="float: left;width: 80%;">
                <input onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" name="playback_sequence" placeholder="请输入播放间隔秒数数字大于0的正整数" class="form-control"  id="playback_interval" style="width: 100%;" value="1"/>
            </div>
            <div style="float: left;width: 20%;">秒</div>
        </div>
    </div>
    <input type="hidden" value="{$ids}" id="ids" class="ids" >
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="button" class="btn btn-success btn-embossed" id="sure">修改</button>
            <button type="button" class="btn btn-default btn-embossed" id="dels">取消</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(function () {
        $("#ribbon").css("display","none");
    })
</script>
<!--点击弹窗中的取消-->
<script type="text/javascript">
    $(function () {
        $("#dels").click(function () {
            parent.layer.closeAll();
        })
    })
</script>
<!--点击确定保存信息-->
<script type="text/javascript">
    $(function () {
        $("#sure").click(function () {
            var url = "{:url('timeSetSave')}";
            var ids = $("#ids").val();console.log(ids);
            var start_time = $("#start_time").val();
            var end_time = $("#end_time").val();
            var playback_interval = $("#playback_interval").val();console.log(playback_interval);
            if(start_time==""){
                layer.msg('<span style="margin-left: 30px;">开始时间不能为空,请必须输入开始时间!</span>', {icon: 2,time: 2500});
            }
            else if(end_time==""){
                layer.msg('<span style="margin-left: 30px;">结束时间不能为空,请必须输入结束时间!</span>', {icon: 2,time: 2500});
            }
            else if(playback_interval==""){
                layer.msg('<span style="margin-left: 30px;">播放间隔时间不能为空,请必须输入播放间隔时间!</span>', {icon: 2,time: 2500});
            }
            else {
                layer.msg('<span style="margin-left: 30px;">输入正确!</span>', {icon: 1,time: 2500});
                $.ajax({
                    type:'post',
                    url:url,
                    data:{ids:ids,start_time:start_time,end_time:end_time,playback_interval:playback_interval},
                    dataType:'json',
                    success:function (data) {
                        parent.layer.closeAll();
                        parent.location.href="{:url('index')}";
                        //console.log("success");
                    },
                    error:function () {
                        //console.log("fail");
                    }
                })
            }
        })
    })
</script>