<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Animations/EffMaJiang/EffWind/Glow_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{255,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,1203},{142,82}}</string>
				<key>offset</key>
				<string>{8,-49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,1165},{150,90}}</string>
				<key>offset</key>
				<string>{5,-46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,1119},{164,95}}</string>
				<key>offset</key>
				<string>{5,-28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1119},{157,137}}</string>
				<key>offset</key>
				<string>{14,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,1117},{170,144}}</string>
				<key>offset</key>
				<string>{15,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,1022},{171,143}}</string>
				<key>offset</key>
				<string>{15,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,970},{191,147}}</string>
				<key>offset</key>
				<string>{11,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,759},{211,153}}</string>
				<key>offset</key>
				<string>{1,-20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,949},{218,170}}</string>
				<key>offset</key>
				<string>{5,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,841},{223,178}}</string>
				<key>offset</key>
				<string>{1,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,404},{225,186}}</string>
				<key>offset</key>
				<string>{1,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,595},{214,191}}</string>
				<key>offset</key>
				<string>{10,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,453},{225,197}}</string>
				<key>offset</key>
				<string>{8,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,255},{232,198}}</string>
				<key>offset</key>
				<string>{5,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,204},{232,204}}</string>
				<key>offset</key>
				<string>{5,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,197},{237,201}}</string>
				<key>offset</key>
				<string>{2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,408},{246,186}}</string>
				<key>offset</key>
				<string>{5,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,0},{252,191}}</string>
				<key>offset</key>
				<string>{2,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,0},{250,197}}</string>
				<key>offset</key>
				<string>{1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,0},{246,204}}</string>
				<key>offset</key>
				<string>{-1,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,191},{225,213}}</string>
				<key>offset</key>
				<string>{-13,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,759},{214,190}}</string>
				<key>offset</key>
				<string>{-6,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1019},{204,186}}</string>
				<key>offset</key>
				<string>{5,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,594},{218,200}}</string>
				<key>offset</key>
				<string>{5,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,794},{218,185}}</string>
				<key>offset</key>
				<string>{5,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,650},{225,191}}</string>
				<key>offset</key>
				<string>{8,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,398},{239,197}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,590},{246,169}}</string>
				<key>offset</key>
				<string>{5,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,786},{236,171}}</string>
				<key>offset</key>
				<string>{-4,16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffMaJiang/EffWind/LJF_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,979},{224,171}}</string>
				<key>offset</key>
				<string>{-12,16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>