<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZ2.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,336},{26,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,40}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZBaoZha01.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,771},{66,86}}</string>
				<key>offset</key>
				<string>{5,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,166}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZBaoZha02.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,853},{69,80}}</string>
				<key>offset</key>
				<string>{8,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,166}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZBaoZha03.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,796},{88,94}}</string>
				<key>offset</key>
				<string>{11,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,166}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZBaoZha04.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,600},{104,111}}</string>
				<key>offset</key>
				<string>{8,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,166}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZBaoZha05.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,366},{114,125}}</string>
				<key>offset</key>
				<string>{3,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,166}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZBaoZha06.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,221},{118,145}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,166}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZBaoZha07.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,824},{137,147}}</string>
				<key>offset</key>
				<string>{-10,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,166}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZBaoZha08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,796},{146,149}}</string>
				<key>offset</key>
				<string>{10,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,166}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZBaoZha09.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,491},{109,118}}</string>
				<key>offset</key>
				<string>{-3,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,166}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZGlow.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,0},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZGlow02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,221},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZHuo01.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,895},{80,89}}</string>
				<key>offset</key>
				<string>{6,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZHuo02.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,768},{85,94}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZHuo03.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,857},{88,94}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZHuo04.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,796},{84,99}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZHuo05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,945},{78,75}}</string>
				<key>offset</key>
				<string>{2,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZHuo06.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,256},{50,44}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZSuiShi01.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,680},{91,74}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{403,397}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZSuiShi02.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,680},{192,144}}</string>
				<key>offset</key>
				<string>{-19,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{403,397}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZSuiShi03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,477},{228,169}}</string>
				<key>offset</key>
				<string>{-22,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{403,397}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZSuiShi04.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,428},{255,187}}</string>
				<key>offset</key>
				<string>{-23,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{403,397}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZSuiShi05.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,256},{280,204}}</string>
				<key>offset</key>
				<string>{-23,-33}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{403,397}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZSuiShi06.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,0},{303,221}}</string>
				<key>offset</key>
				<string>{-23,-38}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{403,397}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZSuiShi07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{329,221}}</string>
				<key>offset</key>
				<string>{-24,-35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{403,397}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZSuiShi08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,646},{150,234}}</string>
				<key>offset</key>
				<string>{-29,-38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{403,397}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZX.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,300},{36,38}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZYanHua01.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,536},{199,232}}</string>
				<key>offset</key>
				<string>{2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZYanHua02.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,221},{245,247}}</string>
				<key>offset</key>
				<string>{3,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZYanHua03.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,466},{247,214}}</string>
				<key>offset</key>
				<string>{-3,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZYanHua04.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,683},{199,202}}</string>
				<key>offset</key>
				<string>{-14,-20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZZhaDan.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,214},{214,115}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{214,118}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZZhaDan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,704},{92,103}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,104}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZZhaDan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,768},{92,103}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,104}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffZhaDan/DDZZhaDanGuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,0},{214,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{214,118}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>