<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZ2.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,992},{26,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,40}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZBoom01.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,299},{267,223}}</string>
				<key>offset</key>
				<string>{-5,-25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{277,299}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZBoom02.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,829},{219,181}}</string>
				<key>offset</key>
				<string>{0,-46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{277,299}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZBoom03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,312},{277,242}}</string>
				<key>offset</key>
				<string>{0,-29}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{277,299}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZBoom04.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,296},{202,262}}</string>
				<key>offset</key>
				<string>{-8,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{277,299}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZBoom05.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,566},{209,263}}</string>
				<key>offset</key>
				<string>{-11,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{277,299}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZBoom06.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,0},{260,201}}</string>
				<key>offset</key>
				<string>{3,-40}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{277,299}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZBoom07.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,172},{80,98}}</string>
				<key>offset</key>
				<string>{9,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{277,299}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZGlow.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,0},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZGlow02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,589},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZGlow03.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,558},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZHuo01.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,932},{80,89}}</string>
				<key>offset</key>
				<string>{6,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZHuo02.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,932},{85,94}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZHuo03.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,84},{88,94}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZHuo04.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,0},{84,99}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZHuo05.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,932},{78,75}}</string>
				<key>offset</key>
				<string>{2,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZHuo06.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,770},{50,44}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZHuoJian.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{232,312}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{242,324}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZpenghuo01.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,992},{24,77}}</string>
				<key>offset</key>
				<string>{2,17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,142}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZpenghuo02.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,668},{47,102}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,142}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZpenghuo03.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,256},{37,118}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,142}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZpenghuo04.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,772},{44,118}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,142}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZpenghuo05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,992},{25,123}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,142}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZpenghuo06.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,256},{40,119}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,142}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZpenghuo07.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,256},{43,121}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,142}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZpenghuo08.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,558},{46,110}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,142}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZSmoke.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,845},{286,147}}</string>
				<key>offset</key>
				<string>{-10,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,256}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZWangZha.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,816},{214,116}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,118}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZWangZhaGuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,558},{214,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{214,118}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffWangZha/DDZX.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,260},{36,38}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>