<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Animations/EffDouDiZhu/EffFeiJi/DDZFeiJi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{340,230}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{342,244}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffFeiJi/DDZpenghuo01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,230},{24,77}}</string>
				<key>offset</key>
				<string>{2,17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,142}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffFeiJi/DDZpenghuo02.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,239},{47,102}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,142}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffFeiJi/DDZpenghuo03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,460},{37,118}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,142}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffFeiJi/DDZpenghuo04.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,121},{44,118}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,142}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffFeiJi/DDZpenghuo05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,260},{25,123}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,142}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffFeiJi/DDZpenghuo06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,341},{40,119}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,142}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffFeiJi/DDZpenghuo07.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,0},{43,121}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,142}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffFeiJi/DDZpenghuo08.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,214},{46,110}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,142}</string>
			</dict>
			<key>Animations/EffDouDiZhu/EffFeiJi/DDZWenZi.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,0},{214,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{214,118}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>