<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
<!--<form action="" method="post">-->
    <div class="form-group">
        <label for="uid" class="control-label col-xs-12 col-sm-2">游戏ID:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" name="uid" disabled value="{$uid}" class="form-control" id="uid"/>
        </div>
    </div>
    <div class="form-group">
        <label for="ddz" class="control-label col-xs-12 col-sm-2">斗地主的幸运值:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" name="ddz" value="{$ddz}" class="form-control" id="ddz" placeholder="请输入斗地主的幸运值"/>
        </div>
    </div>
    <div class="form-group">
        <label for="psz" class="control-label col-xs-12 col-sm-2">拼三张的幸运值:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" name="psz" value="{$psz}" class="form-control" id="psz" placeholder="请输入拼三张的幸运值"/>
        </div>
    </div>
    <div class="form-group">
        <label for="ps" class="control-label col-xs-12 col-sm-2">拼十的幸运值:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" name="ps" value="{$ps}" class="form-control" id="ps" placeholder="请输入拼十的幸运值"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="button" class="btn btn-success btn-embossed" id="sure">保存</button>
            <button type="button" class="btn btn-default btn-embossed" id="dels">取消</button>
        </div>
    </div>
</form>
<script type="text/javascript" src="__PUBLIC__/assets/libs/jcrop/js/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#ribbon").css("display","none");
    })
</script>
<!--点击弹窗中的取消-->
<script type="text/javascript">
    $(function () {
        $("#dels").click(function () {
            parent.layer.closeAll();
        })
    })
</script>
<!--点击确定保存信息-->
<script type="text/javascript">
    $("#sure").click(function () {
        var url = "{:url('editSave')}";
        var uid = $("#uid").val();
        var ddz = $("#ddz").val();
        var psz = $("#psz").val();
        var ps = $("#ps").val();
        if(ddz==""){
            layer.msg('<span style="margin-left: 30px;">斗地主的幸运值不能为空,请必须输入斗地主的幸运值!</span>', {icon: 2,time: 2500});
        }
        else if(psz==""){
            layer.msg('<span style="margin-left: 30px;">拼三张的幸运值不能为空,请必须输入拼三张的幸运值!</span>', {icon: 2,time: 2500});
        }
        else if(ps==""){
            layer.msg('<span style="margin-left: 30px;">拼十的幸运值不能为空,请必须输入拼十的幸运值!</span>', {icon: 2,time: 2500});
        }
        else {
            if(!(/(^[1-9]\d*$)/.test(ddz))){
                layer.msg('<span style="margin-left: 30px;">斗地主的幸运值不能为小数!</span>', {icon: 2,time: 2500});
            }
            else if(!(/(^[1-9]\d*$)/.test(psz))){
                layer.msg('<span style="margin-left: 30px;">拼三张的幸运值不能为小数!</span>', {icon: 2,time: 2500});
            }
            else if(!(/(^[1-9]\d*$)/.test(ps))){
                layer.msg('<span style="margin-left: 30px;">拼十的幸运值不能为小数!</span>', {icon: 2,time: 2500});
            }
            else {
                var ddzint = parseInt(ddz);
                var pszint = parseInt(psz);
                var psint = parseInt(ps);
                if((ddzint<10) || (pszint<10) || (psint<0)){
                    layer.msg('<span style="margin-left: 30px;">输入的幸运值不能是小于10的数!</span>', {icon: 2,time: 2500});
                }
                else {
                    layer.msg('<span style="margin-left: 30px;">输入正确!</span>', {icon: 1,time: 2500});
                    $.ajax({
                        type:"post",
                        url:url,
                        data:{uid:uid,ddz:ddz,psz:psz,ps:ps},
                        dataType:"",
                        success:function (data) {
                            parent.layer.closeAll();
                            parent.location.href="{:url('index1')}?uid="+uid;
                            console.log("success");
                            console.log(data);
                        },
                        error:function () {
                            console.log("fail");
                        }
                    })
                }
            }
        }
    })
</script>