<!DOCTYPE html>
<html>
<head>
    <title>不为空的模块下的幸运值页面</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="http://www.daimajiayuan.com/download/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/js/bootstrap-select.js"></script>
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/css/bootstrap-select.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<form action="{:url('index')}" method="post">
    <div class="form-group">
        <div class="col-lg-10" style="width: 300px;float: left;height: 750px;">
            <select id="basic2" class="show-tick form-control" multiple name="uid">
                {volist name="player" id="data"}
                    {eq name="$uid" value="$data.uid"}
                    <option value="{$data.uid}({$data.wx_name})" selected>{$data.uid}+{$data.wx_name}</option>
                    {else/}
                    <option value="{$data.uid}({$data.wx_name})">{$data.uid}+{$data.wx_name}</option>
                    {/eq}
                {/volist}
            </select>
        </div>
        <div class="col-lg-10" style="width: 100px;float: left;">
            <input type="submit" value="搜索" class="form-control" style="width: 50px;float: left;margin-left: 25px;">
        </div>
    </div>
    <br><br><br>
    <table class="mytable" id="table" data-operate-edit="1" data-operate-del="1" width="100%" style="margin-top: -0px;position: absolute;">
        <thead>
        <style type="text/css">
            .mytable {
                table-layout: fixed;
                width: 100% ;
                margin: 0px;
            }
            th,td{
                -width:1000px;
                height:40px;
                border :1px solid black;
                font-size:12px;
                text-align :center;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow:hidden;
            }
        </style>
        <tr class="hei">
            <th>uid</th>
            <th>斗地主幸运值</th>
            <th>拼三张幸运值</th>
            <th>拼十幸运值</th>
            <th>操作</th>
        </tr>
        <style>
            .hei th{font-weight: 900;}
        </style>
        </thead>
        <tbody id="tbody">
        <tr>
            <td>
                {$uid}
            </td>
            <td>
                {$ddz}
            </td>
            <td>
                {$psz}
            </td>
            <td>
                {$ps}
            </td>
            <td>
                <a -href="#" modurla="{$uid}" id="edit" style="text-decoration: none;cursor:pointer;">编辑</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div align="right">

    </div>
</form>
<br>
<div id="ajax_lists" class="table-responsive all" style="overflow-x: auto; overflow-y: auto;width:100%;border-collapse:collapse;"></div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var mySelect = $('#first-disabled2');

        $('#special').on('click', function () {
            mySelect.find('option:selected').prop('disabled', true);
            mySelect.selectpicker('refresh');
        });

        $('#special2').on('click', function () {
            mySelect.find('option:disabled').prop('disabled', false);
            mySelect.selectpicker('refresh');
        });

        $('#basic2').selectpicker({
            liveSearch: true,
            maxOptions: 1
        });
    });
</script>
</body>
</html>

<!--编辑操作-->
<script type="text/javascript">
    $("#edit").click(function () {
        var uid = $(this).attr("modurla");
        var modurl = "{:url('edit')}?uid="+uid;
        layer.open({
            type: 2,
            closeBtn: 1,
            skin: 'layui-layer-demo',
            title: '添加',
            maxmin: false,
            shadeClose: true,
            area : ['800px', '460px'],
            offset : ['100px', ''],
            content: modurl
        })
    })
</script>