<script type="text/javascript" src="http://www.daimajiayuan.com/download/jquery/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/js/bootstrap-select.js"></script>
<link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/css/bootstrap-select.css">
<script type="text/javascript">
    $(window).on('load', function () {
        $('.selectpicker').selectpicker({
            'selectedText': 'cat'
        });
    });
</script>1
<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label for="bs3Select" class="col-lg-2 control-label">请选择需要加入监控列表的玩家ID+微信昵称</label>
        <div class="col-lg-10">
            <select id="bs3Select" class="selectpicker show-tick form-control" multiple data-live-search="true">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="uid" class="control-label col-xs-12 col-sm-2">玩家ID+微信昵称:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea class="form-control" id="uid" name="row[uid]" placeholder="请直接点击上面的批量导入按钮选择需要导入的玩家ID" rows="10" cols="50" readonly></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="log" class="control-label col-xs-12 col-sm-2" style="color: red;">* 操作日志(必填):</label>
        <div class="col-xs-12 col-sm-8">
            <textarea name="row[log]" rows="5" id="log" cols="50" data-rule="required;username" placeholder="请必须输入为什么要操作该项的原因"></textarea>
        </div>
    </div>
    <div class="form-group hidden layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>

