<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="utf8">
    <style type="text/css">
        .mytable {
            table-layout: fixed;
            width: 100% ;
            margin: 0px;
        }
        th,td{
            -width:1000px;
            height:40px;
            border :1px solid black;
            font-size:12px;
            text-align :center;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow:hidden;
        }
    </style>
    <script src="__PUBLIC__/layer/layer.js"></script>
    <script src="__PUBLIC__/layer/extend/layer.ext.js"></script>
</head>

<!--搜索-->
<input type="hidden" value="{$ip}" id="ip"/>
<input type="button" value="创建平台" id="add" class="form-control"/>
    <br><br><br>
    <table class="mytable">
        <thead>
        <tr>
            <th style="width: 10%;">平台id</th>
            <th style="width: 10%;">平台创建者</th>
            <th style="width: 10%;">平台描述</th>
            <th style="width: 20%;">保证金</th>
            <th style="width: 10%;">平台状态</th>
            <th style="width: 10%;">平台划转的用户数量</th>
            <th style="width: 10%;">操作</th>
        </tr>
        </thead>
        <tbody>
        {if condition="($code == 400)"}
        {else /}
            {foreach name="plist" id="vol"}
            <tr>
                <td style="width: 10%;">{$vol['scId']}</td>
                <td style="width: 10%;">{$vol['owner']}</td>
                <td style="width: 15%;">{$vol['description']}</td>
                <td style="width: 15%;">{$vol['guaranty']}</td>
                <td style="width: 10%;">
                    {if condition="($vol['status'] == 0)"} 停止新用户划转
                    {else /} 启动新用户划转
                    {/if}
                </td>
                <td style="width: 10%;">{$vol['users']}</td>
                <td style="width: 10%;">
                    <a class="moduserEdit" style="cursor:pointer;text-decoration:none;" modurla="{$vol['scId']}" modurl="{:url('edit',array('scId'=>$vol['scId']))}">编辑</a>
                </td>
            </tr>
            {/foreach}
        {/if}

        </tbody>
    </table>
    <div align="right">

    </div>


<script type="text/javascript" src="__PUBLIC__/assets/libs/jcrop/js/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#ribbon").css("display","none");
    })
</script>
<script type="text/javascript">
    $(function () {
        $("#add").click(function () {
            var modurl = "{:url('create')}";
            layer.open({
                type: 2,
                closeBtn: 1,
                skin: 'layui-layer-demo',
                title: '平台创建',
                maxmin: false,
                shadeClose: true,
                area : ['800px', '550px'],
                offset : ['20px', ''],
                content: modurl
            })
        })
    })
</script>
<!--显示修改页面弹窗-->
<script type="text/javascript">
    $('.moduserEdit').on('click', function(){
        var modurl = $(this).attr("modurl");
        var id = $(this).attr("modurla");
        parent.layer.open({
            type: 2,
            title: '修改平台',
            maxmin: true,
            shadeClose: true,
            area : ['800px', '460px'],
            offset : ['100px', ''],
            content: modurl
        })
    })
</script>