<div class="panel panel-default panel-intro">

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        {:build_toolbar('refresh')}
                        <div class="form-search" style="display: none;">
                            <input type="text" id="form-search-uid"/>
                            <input type="text" id="form-search-wx_name"/>
                            <input type="text" id="form-search-match_id"/>
                            <input type="text" id="form-search-num"/>
                            <input type="text" id="form-search-plus_diamonds"/>
                            <input type="text" id="form-search-time"/>
                        </div>
                        <div class="custom-search" style="display: none;">
                            <input type="text" id="custom-search"/>
                        </div>
                        <div class="ip" style="display: none;">
                            <input type="text" id="ip" value="{$ip}"/>
                        </div>
                        <span>服务费总和为:</span>
                        <span id="servicenum" style="color: red;font-weight: 900;"></span>
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover"
                           data-operate-edit="{:$auth->check('user/user/edit')}"
                           data-operate-del="{:$auth->check('user/user/del')}"
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/assets/libs/jcrop/js/jquery.min.js"></script>
<script type="text/javascript">
    $("#ribbon").css("display","none");
</script>
<script type="text/javascript">
    $(function () {
        var ip = $("#ip").val();
        var url = "http://"+ip+"/fastadmin_revision1/public/admin/player/servicerecord/sum";
        $.ajax({
            type:"post",
            url:url,
            data:{uid:$("#form-search-uid").val(),wx_name:$("#form-search-wx_name").val(),match_id:$("#form-search-match_id").val(),num:$("#form-search-num").val(),plus_diamonds:$("#form-search-plus_diamonds").val(),time:$("#form-search-time").val()},
            dataType:"",
            success:function (data) {
                console.log("成功");
                console.log("数据为:"+data);
                $("#servicenum").text(data);
            },
            error:function () {
                console.log("失败");
            }
        });
    })
</script>