
<!--<script type="text/javascript" src="http://www.daimajiayuan.com/download/jquery/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/js/bootstrap-select.js"></script>
<link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/css/bootstrap-select.css">
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">-->
<script type="text/javascript" src="__PUBLIC__/mail/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/mail/bootstrap-select.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/mail/bootstrap-select.css">
<link href="__PUBLIC__/mail/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript">
    $(window).on('load', function () {
        $('.selectpicker').selectpicker({
            'selectedText': 'cat'
        });
        $('.selectpicker').click(function () {
            var a = $("#bs3Select").val();//console.log(a);
            $("#a").val(a);
            $("#ad").val(a);
        });
    });
</script>

<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <!--<div class="form-group">
        <label for="c-pid" class="control-label col-xs-12 col-sm-2">请选择游戏ID:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="bs3Select" class="selectpicker show-tick form-control" multiple data-live-search="true" name="uids">
                {volist name="list" id="data"}
                <option value="{$data.uid}({$data.wx_name})">{$data.uid}+{$data.wx_name}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="c-pid" class="control-label col-xs-12 col-sm-2">选择的结果:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea rows="5" cols="50" disabled id="a" name="uids" class="form-control"></textarea>
        </div>
    </div>-->
    <div class="form-group">
        <label for="c-pid" class="control-label col-xs-12 col-sm-2">选择总代玩家:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="uids" class="form-control" name="uids">
                {volist name="list" id="data"}
                <option value="{$data.uid}">{$data.uid}+{$data.wx_name}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="button" class="btn btn-success btn-embossed {:$auth->check('mail/setgm/set')?'':'hide'}" id="sendMail">设置总代</button>
        </div>
    </div>
</form>
<!-- <script type="text/javascript" src="__PUBLIC__/assets/libs/jcrop/js/jquery.min.js"></script> -->
<script type="text/javascript">
    $(function () {
        $("#ribbon").css("display","none");
    })
</script>
<script type="text/javascript">
    $(function () {
        $("#sendMail").click(function () {
            var url = "{:url('set')}";
            var uids = $("#uids").val();
                $.ajax({
                    type:"post",
                    url:url,
                    data:{uids:uids},
                    dataType:"json",
                    success:function (data) {
                        layer.msg('<span style="margin-left: 30px;">'+data+'</span>', {icon: 1,time: 2500});
                    },
                    error:function () {
                        layer.msg('<span style="margin-left: 30px;">失败!</span>', {icon: 2,time: 2500});
                    }
                })
        })
    })
</script> 