<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="utf8">
    <style type="text/css">
        .mytable {
            table-layout: fixed;
            width: 100% ;
            margin: 0px;
        }
        th,td{
            -width:1000px;
            height:40px;
            border :1px solid black;
            font-size:12px;
            text-align :center;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow:hidden;
        }
    </style>
    <script src="__PUBLIC__/layer/layer.js"></script>
    <script src="__PUBLIC__/layer/extend/layer.ext.js"></script>
</head>
<body>
<button id="add">添加</button>
<table class="mytable">
    <thead>
    <tr>
        <th style="width: 10%;">玩家uid</th>
    </tr>
    </thead>
    <tbody>
    <!--第一条数据-->


    {foreach name="list" id="vol"}
    <tr>
        <td style="width: 10%;">{$vol['0']}</td>
    </tr>
    {/foreach}
    </tbody>
</table>
</body>
</html>
<script type="text/javascript" src="__PUBLIC__/assets/libs/jcrop/js/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#ribbon").css('display','none');
    })
</script>
<!--添加按钮到新页面-->
<script type="text/javascript">
    $(function () {
        $("#add").click(function () {
            var modurl = "{:url('add')}";
            layer.open({
                type: 2,
                closeBtn: 1,
                skin: 'layui-layer-demo',
                title: '添加',
                maxmin: false,
                shadeClose: true,
                area : ['800px', '460px'],
                offset : ['100px', ''],
                content: modurl
            })
        })
    })
</script>

